.h1-60 {
        font-size: 60px;
        line-height: 64px;
    }



@media screen and (max-width: 767px) {
    .h1-60 {
        font-size: 55px;
        line-height: 60px;
    }
}

@media screen and (max-width: 479px) {
    .h1-60 {
        font-size: 10vw;
        line-height: 105%;
    }
}
