th, td {
   background: linear-gradient(90deg, #083A40 0%, #06707D 100%);


}
@media screen and (max-width: 767px) {
.mobile-view {
   margin-left: -16px;
   margin-right: -16px;
   border-radius: 0;
}
}



